main {
  background-color: #f5f5ff34;
  padding-top:20px;
  width:100%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

main > div {
  display: flex;
  justify-content: center;
}

.span {
  margin-left: 10px;
  font-size: 38px;
  font-weight: bold;
}

#about_father {
  display: flex;
  justify-content:center;
}

ul {
  font-size: 24px;
  font-weight: bold;
  font-size: 18px;
}

li {
  list-style: none;
  font-size:  18px;
}

.infos {
  max-width: 800px;
  text-align: justify;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.048);
  border-radius: 10px;
  margin-right: 10px;
}

.effect {
  padding: 10px;
}

.infos p {
  font-size: 18px;
}

.infos h1 {
  font-size: 20px;
  cursor: pointer;
}

.banner {
  padding: 40px;
}

.banner img {
  width: 600px;
  border-radius: 15px;
}

.family {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1460px;
  margin: auto;
  text-align: justify;
}

.family p {
  font-size: 1.3rem;
} 

.icons {
 font-size: 35px;
 padding-bottom: 10px;
 cursor: pointer;
}

.icons:hover {
  color: #feb42b;
  transform: scale(1.5)
}

.infos h1:hover {
  color: #1acc8d;
}

.effect h1 {
  padding: 10px;
}

 @media screen and (max-width: 768px) {
  #about_father {
    display: flex;
    flex-direction: column;
  }
  .banner img {
    width: 200px;
    border-radius: 15px;
  }
  .infos h1 {
    font-size: 16px;
  }
  .icons {
    font-size: 16px;
   }
   
.family p {
  font-size: 13px;
} 
.span {
  font-size: 20px;
}
.infos p {
  font-size: 13px;
}
ul {
  font-size: 13px;
}

li {
  list-style: none;
  font-size:  13px;
}
} 