.contact {
  width: 100%;
  margin: auto;
  height: 70vh;
 background-image: url('../img/contact.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 margin-bottom: 50px;
}

.contact > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.424);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whats  {
  color: #01e675;
  font-size: 30px;
}

.children_form {
  background-color: rgba(0, 0, 0, 0.424);
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  margin-right: 20px ;
}


form {
  background-color:rgba(31, 30, 30, 0.37);
  width: 1200px;
  height: 400px;
  padding: 30px;
  display: flex;
  justify-content:center;
}

.input {
  height: 50px;
  padding: 20px;
  width: 400px;
  margin-left: 20px;
  border: 1px solid gray;
  font-size:20px;
  font-weight: 600;
}

.inputs {
  display: flex;
}

input:-ms-input-placeholder  {
  font-size:16px;
}

input::-webkit-input-placeholder {
  font-size:20px;
  font-weight: 600;
}

input:-moz-placeholder {
  font-size:16px;
}

.father_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

textarea{
  width: 95%;
  height: 150px;
  resize: none;
  border: 1px solid gray;
  font-size:20px;
  font-weight: 600;
  padding: 20px;
}

.whatssap_button {
  padding: 20px;
  cursor: pointer;
  background-color:#01e673b6;
  border-radius: 10px;
}

.whatssap_button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.746);
  font-weight: 700;
  font-size: 20px;
}

.whatssap_button:hover {
  transform: scale(1.2);
  background-color: #01e675;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}