.footer_father {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #02010a;
  color: white;
}

.footer_father   section {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 500px;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer_info img{
  width: 250px;
}

.apps {
  display: flex;
}

.apps a {
  cursor: pointer;
  margin-left: 10px;
}

.footer_info .logo {
  cursor: pointer;
}


.footer_info .logo:hover {
  transform: scale(1.2)
}

.author {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}

.footer_father span { 
  display: flex;
  justify-content: center;
  padding: 20px;
}

.infos_person {
  padding: 30px;
  max-width: 500px;
  display: flex;
  flex-direction:column;
}

.icons_info {
  font-size: 25px;
  padding-right: 5px;
  cursor: pointer;
}

.icons_info:hover {
  transform: scale(1.2);
  color: #feb42b;
}

.apps a:hover {
 opacity: 0.8;
}

.author:hover {
  color: #feb42b;
}


.footer_info:hover {
  color: #feb42b;
}

.infos_person span {
  display: flex;
  align-self: flex-start;
}