.hero_img {
  background-image: url('../img/car.jpg');
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  
}

@keyframes  blur {
  0% {
    backdrop-filter: blur(10px);
  }
  100% {
    backdrop-filter: blur(0);
  }
}

.blur {
  background-color: #02031586;
  height: 100%;
  animation-name: blur;
  animation-duration: 4s;
}

 header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.HeaderPictures  {
  background-color: rgba(0, 0, 0, 0.938);
}

.links {
  display: flex;
  align-items: center;
}

.links > a {
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}



.header_img:hover {
  transform: scale(1.2);
}

.links > a:hover {
  color: #feb42b;
}

.header_img {
 cursor: pointer;
 width: 200px;
}

.hero_msg{
  color: rgb(255, 251, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  padding: 20px;
  height: 80%;
  margin: auto;
}



.hero_msg > h1 {
  animation-name: hero_msg;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  line-height: 1.2em;
  font-size: 4.6rem;
  word-break: break-all;
}


@keyframes hero_msg {
  0% {
    opacity: 0;
    transform:translate(0, -200px)
  }
  50% {
    transform:translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .hero_msg  h1 {
    line-height: 1.2em;
  font-size: 1.6rem;
  word-break: break-all;
  }
  .header_img {
    width: 120px;
  }
  .links > a {
  font-size: 10px;
  }
}