
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.father_pictures {
  max-width: 1450px;
  margin: auto;
  text-align: center;
  display:  flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  background-color:rgba(7, 7, 7, 0.26);
  border-radius: 20px;
  box-shadow: 3px 5px 5px 5px #feb42b;
}

.pattern_pictures {
  background-image: url('../img/pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px;
}


.pictures {
  margin-left: 20px;
  margin-top:  20px;
  width: 500px;
  border-radius: 20px;
  border: 5px solid #feb42b;
  box-shadow: 2px 2px 2px 2px #feb42b;
}

.pictures:hover {
  transform: scale(1.3);
}